h2 {
    color: blue;;
    text-decoration: double;
}

body {
    background-color: antiquewhite;
}

button {
    background-color: blue;
    color: white;
}
.heading4 {
    color: brown;
}

.box{
    height: 10rem;
    width: 10rem;
    border: 1x solid black;
    margin: 1rem;
    text-align: center;
    background: aquamarine;
}

.content {
    color: yellow;
}
.otherClass {
    background: azure;
}